{{#if (eq tag "a")}}
  <a class="button {{#if (eq styleType "secondary")}} button--secondary {{/if}}" href={{ href }}>{{ text }}</a>
{{else}}
  <button class="button {{#if (eq styleType "secondary")}} button--secondary {{/if}}" type={{ type }}">{{ text }}</button>
{{/if}}
